version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "nlebovits"
    labels:
      - "dependencies"
      - "rust"
    groups:
      all-cargo-deps:
        patterns:
          - "*"
